<h1>This is the flats index page</h1>

<% @flats.each do |flat| %>
  <%= link_to flat.name, flat_path(flat) %>
  <%= button_to "Delete", flat, method: :delete %>
<% end %>

<%= link_to "Create New Flat", new_flat_path %>
