<h1>My Flats</h1>

<div class="d-flex justify-content-center">
  <div class="d-flex flex-wrap" style="width: 90%; margin: 0 auto">
    <% @flats.each do |flat| %>
      <% if flat.user == current_user %>
        <div class="card-flat text-center p-2 m-3 bd-highlight" style="width: 24rem;">
          <img src=<%= flat.photo %> alt="movie poster">
          <div class="card-flat-infos">
            <div>
              <h2><%= flat.name %></h2>
            </div>
            <h2 class="card-flat-pricing">€<%= flat.price %></h2>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>