<div class="about-container">
  <h1>ABOUT US</h1>
  <p>We are hoomans</p>
  <p>We show you flats</p>

  <div class="team-ctr">
      <h5>MEET THE TEAM</h5>
      <div class="team-cards">
        <a href="https://github.com/flo-kichijoji" style="color: white; text-decoration: none;">
          <div>
            <%= image_tag "flo.jpg", class: "avatar-bordered", alt: "avatar-bordered" %>
            <p>Florent Theroude</p>
          </div>
        </a>
        <a href="https://github.com/itsleonardog" style="color: white; text-decoration: none;">
          <div>
            <%= image_tag "leonardo.jpg", class: "avatar-bordered", alt: "avatar-bordered" %>
            <p>Leonardo Genzolini</p>
          </div>
        </a>
        <a href="https://github.com/philipposophos" style="color: white; text-decoration: none;">
          <div>
            <%= image_tag "philipp.jpg", class: "avatar-bordered", alt: "avatar-bordered" %>
            <p>Philipp Stähr</p>
          </div>
        </a>
        <a href="https://github.com/paulynompico" style="color: white; text-decoration: none;">
          <div>
            <%= image_tag "paulyn.jpg", class: "avatar-bordered", alt: "avatar-bordered" %>
            <p>Paulyn Ompico<p>
          </div>
        </a>
      </div>
  </div>
</div>
