<% if user_signed_in? %>
  <div class="main-ctr">
    <div class="main-content">
      <h1>HELLO, <%= current_user.first_name.upcase %></h1>
    </div>
  </div>

<% else %>
  <div class="main-ctr">
    <div class="main-content">
      <h1>WELCOME TO NEWBNB</h1>
      <p>THE NEW NEWBIE BNB SITE</p>
    </div>
      <li class="nav-item active">
        <p><%= link_to "REGISTER NOW", new_user_registration_path, class:"nav-link button-29"%></p>
      </li>
  </div>
<% end %>